      <div id="Footer">
         <div id="LicenseIcon">
            <a href="http://www.gnu.org/copyleft/fdl.html" hreflang="en"
                     title="GNU Free Documentation License" xml:lang="en">
                  <img height="31" width="88"
                        src="images/gnu-fdl"
                        alt="Icono de la GNU Free Documentation License" /></a>
         </div>

<div id="Copyright">Copyright &copy; 2011 <a href="mailto:guivaya@gmail.com" title="Dirección de correo electrónico del autor" xml:lang="es"><span class="name" xml:lang="es"><span class="firstname">Guillermo</span> <span class="surname" xml:lang="es">Vay&aacute;</span> <span class="surname" xml:lang="es">P&eacute;rez</span></span></a></div>
<br />
<div id="LicenseNotice" xml:lang="en">Permission is granted to copy, distribute and/or modify this document under the terms of the GNU Free Documentation License, Version 1.2 or any later version published by the Free Software Foundation; with no Invariant Sections, no Front-Cover Texts, and no Back-Cover Texts. A copy of the license can be found <a href="http://www.gnu.org/licenses/fdl.txt" xml:lang="en" title="URL where the this web'license is">here</a>.</div>

</div>
