   <head>
      <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
      <meta name="Author" xml:lang="es" content="Guillermo Vay&aacute;" />
      <meta name="Copyright" xml:lang="es" content="&copy;Guillermo Vay&aacute;" />
      <meta name="Date" content="2011-12-26T21:35:41+02:00" />
      <meta name="Keywords" xml:lang="es" content="" />
      <meta name="Keywords" xml:lang="en"
            content="" />
      <meta name="Description" xml:lang="en" content="URL shortener and clasifier" />

      <title>Misurls: Url shortener and clasification platform</title>

      <link rel="StyleSheet" href="styles/style"
            media="screen" title="Default" />
      <link rel="StyleSheet" href="styles/print"
            media="print" title="Default - Printer" />
      <link rel="Alternate StyleSheet" href="styles/print"   title="Print" />
      <link rel="Alternate StyleSheet" href="styles/simple" title="Simple" />

   </head>

   <body>
      <div id="Header">

         <h1>
            <span id="Title">Misurl</span>
            <span id="Subtitle">An url shortener and clasification platform</span>
         </h1>

      </div>

      <div id="Menu">
         <div id="NavBar">
          <a href="index_en">Description</a>
            <a href="func_en">Operation</a>
	    <a href="install_en">Installation</a>
	    <a href="license_en">License</a>
	    <a href="future_en">Future improvements</a>
	    <a href="time_en">Employed time</a>
	    <a href="links_en">Links</a>
	    <a href="downloads_en">Downloads</a>
	    <a href="author_en">Author</a>												 
	 </div>

         <div id="Updated">
            Last modification: <br /><abbr title="17 January 2012" xml:lang="en">2012-01-17</abbr>
         </div>
	<div id="Lang">
		<p><a href="index_es" title="Language: Spanish">Spanish</a><a href="index_es" title="Language: Spanish"><img src="images/flag_es" alt="logoSpain"/></a></p>
		<p><a href="index_en" title="Idioma: English">English</a><a href="index_en" title="Language: English"><img src="images/flag_gb" alt="logoEngland"/></a></p>
	</div>
         <div id="Conformance">
            <!-- XHTML 1.1 -->
            <a href="http://validator.w3.org/check?uri=referer" hreflang="en"
                  title="Servicio de validación de XHTML del W3C">
               <img height="31" width="88"
                     src="images/valid-xhtml11"
                     alt="Icono de conformidad con XHTML 1.1" /></a>

            <!-- CSS 2.0 -->
            <a href="http://jigsaw.w3.org/css-validator/check/referer" hreflang="en"
                  title="Servicio de validación de CSS del W3C">
               <img height="31" width="88"
                     src="images/valid-css"
                     alt="Icono de conformidad con CSS" /></a>

            <!-- WCAG AA -->
            <a href="http://www.w3.org/WAI/WCAG1AA-Conformance"
                  title="Explicación del Nivel Doble-A de Conformidad">
               <img height="31" width="88"
                     src="images/wcag1AA"
                     alt="Icono de conformidad con el Nivel Doble-A, de las Directrices de Accesibilidad para el Contenido Web 1.0 del W3C-WAI" /></a>
         </div>
      </div>
