   <head>
      <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
      <meta name="Author" xml:lang="es" content="Guillermo Vay&aacute;" />
      <meta name="Copyright" xml:lang="es" content="&copy;Guillermo Vay&aacute;" />
      <meta name="Date" content="2004-10-16T21:35:41+02:00" />
      <meta name="Keywords" xml:lang="es" content="" />
      <meta name="Keywords" xml:lang="en"
            content="" />
      <meta name="Description" xml:lang="es" content="Acortador y clasificador de urls" />

      <title>Misurls: Acortador y clasificador de urls </title>

      <link rel="StyleSheet" href="styles/style"
            media="screen" title="Default" />
      <link rel="StyleSheet" href="styles/print"
            media="print" title="Default - Printer" />
      <link rel="Alternate StyleSheet" href="styles/print"   title="Print" />
      <link rel="Alternate StyleSheet" href="styles/simple" title="Simple" />
   
   </head>

   <body>
      <div id="Header">

         <h1>
            <span id="Title">Misurls</span>
            <span id="Subtitle">Acortador y clasificador de urls</span>
         </h1>

      </div>

      <div id="Menu">
         <div id="NavBar">
            <a href="index_es">Descripción</a>
            <a href="func_es">Funcionamiento</a>
            <a href="install_es">Instalación</a>
	    <a href="license_es">Licencia</a>
            <a href="future_es">Futuras mejoras</a>
            <a href="time_es">Tiempo empleado</a>
            <a href="links_es">Enlaces</a>
            <a href="downloads_es">Descargas</a>
            <a href="author_es">Autor</a>
         </div>

         <div id="Updated">
            Última modificación: <br /><abbr title="17 de Enero de 2012" xml:lang="es">2012-01-17</abbr>
         </div>
	<div id="Lang">
		<p><a href="index_es" title="Idioma: Español">Español</a><a href="index_es" title="Idioma: Español"><img src="images/flag_es" alt="logoSpain"/></a></p>
		<p><a href="index_en" title="Idioma: Inglés">Inglés</a><a href="index_en" title="Idioma: Inglés"><img src="images/flag_gb" alt="logoEngland"/></a></p>
	</div>
         <div id="Conformance">
            <!-- XHTML 1.1 -->
            <a href="http://validator.w3.org/check?uri=referer" hreflang="en"
                  title="Servicio de validación de XHTML del W3C">
               <img height="31" width="88"
                     src="images/valid-xhtml11"
                     alt="Icono de conformidad con XHTML 1.1" /></a>

            <!-- CSS 2.0 -->
            <a href="http://jigsaw.w3.org/css-validator/check/referer" hreflang="en"
                  title="Servicio de validación de CSS del W3C">
               <img height="31" width="88"
                     src="images/valid-css"
                     alt="Icono de conformidad con CSS" /></a>

            <!-- WCAG AA -->
            <a href="http://www.w3.org/WAI/WCAG1AA-Conformance"
                  title="Explicación del Nivel Doble-A de Conformidad">
               <img height="31" width="88"
                     src="images/wcag1AA"
                     alt="Icono de conformidad con el Nivel Doble-A, de las Directrices de Accesibilidad para el Contenido Web 1.0 del W3C-WAI" /></a>
         </div>
      </div>
