body{
  background: #BCF;
    }

.Cabecera {
  background: #ABE;
  padding: 1em;
}
.Cabecera h2{
  font-size: 2em;
  font-weight: bold;
  color: #235;
}

.Menu {
  list-style-position: inside;
  list-style-type: none;
  background-color: #458;
  padding: 0.3em;
}

.Menu li {
  list-style-type: none;
  display: inline;
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.Menu li a {
  text-decoration: none;
  color: #ABE;
  font-size: 0.9em;
  font-weight:bold;
  text-align: left;
}

.Minimenu {
  list-style-position: inside;
  list-style-type: none;
  background-color: #458;
  padding: 0.3em;
}

.Minimenu li {
  list-style-type: none;
  display: inline;
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.Minimenu li a {
  text-decoration: none;
  color: #ABE;
  font-weight:bold;
  text-align: left;
}


#Cuenta {
  background-color: #347;
  text-color: #BCE;
  padding: 1em;
  text-align: left;
}

.Submenu {
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  background-color: #9AC;
  height: 50px
}
.Submenu li {
  list-style-type: none;
  display: inline;
  padding-left: 0.5em;
  float:left;
}
.Submenu li a{
  text-decoration: none;
  font-size: 0.9em;
  color:#555;
  text-align: left;
}

.Body {
  padding: 2em;
  background: #CDF;
}

.Flash {
  background: #BCE;
  width: 80%;
  padding: 0.5em;
  border: 0.2em solid #9AC;
}

.doc {
    background: #CDF;
    width: 70%;
    height: 75%;
    padding: 0.2em;
}

.actionmenu {
    float: right;
    padding: 0.5em;
    width: 25%;
}
.clasificador {
    margin: 0.5em;
    padding: 0.5em;
    background: #BCE;
    border: 0.2em solid #FFF;
}
.Buscador {
    width:50px;
    display: inline;
}
