<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <title>m:// - misurl</title>
  
  <meta name="author" content="Guillermo Vayá">
  <meta name="date" content="2011-12-10T12:23:27+0100">
  <meta name="keywords" content="url, short, acortamiento, management, gestion">
  <meta name="description" content="Servicio de acortamiento y gestion de urls">
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
  <meta http-equiv="content-style-type" content="text/css">
  <meta http-equiv="expires" content="0">
  <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 <script type="text/javascript" src="/static/jquery.autocomplete.js"></script>
 <link rel="stylesheet" type="text/css" href="/static/jquery.autocomplete.css">
  </head><body>
<div class="Cabecera">
        <h2>
        <img src="{{ url_for('static',filename='logo.png') }}" alt='m://'></img>
        Misurl
        </h2>
	<div class="Menu">
		<ul>
			<li><a href='{{ url_for("indice") }}'>{{ gettext('Inicio') }}</a></li>
			<li><a href='{{ url_for("lista_usuarios") }}'>{{ gettext('Usuarios') }}</a></li>
			<li><a href='{{ url_for("ultimas_urls") }}'>{{ gettext('Enlace') }}s</a></li>
		  {% if session.get('autenticado') and session.get('rol') %}
		  <li><a href='{{ url_for("lista_inapropiadas") }}'>{{ gettext('Admin') }}</a></li>
		  {% endif %}
		  <li><a href='{{ url_for("licencia") }}'>{{ gettext('Legal') }}</a></li>
                  <li id="Cuenta">
                    {% if not session.get('autenticado') %}
		    <a href='{{ url_for("login") }}'>{{ gettext('Entra') }}</a> / 
		    <a href='{{ url_for("nuevo_usuario") }}'>{{ gettext('Registrate') }}</a>
                    {% else %}
		    <a href='{{ url_for("logout") }}'>{{ gettext('Salir') }}</a>
                    {% endif %}
                  </li>
                  <li>
                  <a href='{{ url_for("a_castellano") }}'><img src='{{ url_for("static",
                      filename="bandera_es.png") }}'></img></a>
                  <a href='{{ url_for("a_ingles") }}'><img src='{{ url_for("static", filename="bandera_gb.png")
                      }}'></img></a>
                  </li>
		</ul>
	</div>
        {% block submenu %}{% endblock %}
</div>

<div class="Body">
    {% for m in get_flashed_messages() %}
    <div class="Flash">{{ m }}</div>
    {% endfor %}
    {% block body %}{% endblock %}

</div>
<p><small> {{ gettext('Si te ha parecido util esta pagina y quieres ayudar a pagar el ancho de banda:') }} {% include "paypal.html" %}</small></p>
</body></html>
