{% extends "menu_url.html" %}
{% block body %}
<table>
	<h2>{{ gettext('Lista de urls de %(user)s', user=user) }}</h2>
	<tr><th>{{ gettext('Corta') }}</th><th>{{ gettext('Expandida') }}</th></tr>
{% for (c,l) in lista %}
<tr><td>
            <a href='/{{ c }}'>{{c}}</a>
    </td>
    <td>
	    <a href='{{ l }}'>{{l}}</a>&nbsp;
	    {% if session.autenticado %}
	    <a href='{{ url_for('reportar',url=c) }}'><img src="{{ url_for('static', filename='report.gif') }}" title={{ gettext("Reportar como inapropiada") }}></img></a>
	    {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock body %}
