{% extends "menu_usuario.html" %}
{% block body %}
<table>
{% for u in users %}
<tr><td><a href="{{ url_for('lista_urls_user', user=u.username)  }}">{{ u.username }}</a></td></tr>
{% endfor %}
</table>
{% endblock body %}
