{% extends 'estructura.html' %}
{% block body %}
<form action="{{ url_for('login') }}" method="POST">
      <dl>
	      <dt>{{ gettext('Usuario') }}:
        <dd><input type=text size=30 name=username>
	<dt>{{ gettext('Contraseña') }}:
        <dd><input type=password size=30 name=pass>
      <dd><input type=submit value=Entrar>
</form>
{% endblock body %}
