{% extends 'menu_url.html' %}
{% block body %}
<form action="{{ url_for('addurl') }}" method="POST">
      <dl>
      <dt>URL:
        <dd><input type=text size=30 name=url>
      <dd><input type=submit value=Entrar>
</form>
{% endblock body %}
