{% extends "estructura.html" %}
{% block submenu %}
<div class=Submenu><ul>
		<li><a href="{{url_for('ultimas_urls')}}">{{ gettext('Ultimas') }}</a></li>
		<li><a href="{{url_for('lista_misurls')}}">{{ gettext('Misurls') }}</a></li>
		<li><a href="{{url_for('cortaurl')}}">{{ gettext('Nueva') }}</a></li>
</ul>
</div>
{% endblock %}
