{% extends "estructura.html" %}
{% block submenu %}
<div class=Submenu><ul>
		<li><a href="/u">{{ gettext('Lista') }}</a></li>
		<li><a href="/u/nuevo">{{ gettext('Nuevo') }}</a></li>
</ul></div>
{% endblock %}
