{% extends "menu_usuario.html" %}
{% block body %}
<form action="{{ url_for('crear_usuario') }}" method="POST" class=add-entry>
      <dl>
	      <dt>{{ gettext('Usuario') }}:
        <dd><input type=text size=30 name=username>
	<dt>{{ gettext('Correo') }}:
        <dd><input type=text size=30 name=email>
	<dt>{{ gettext('Contraseña') }}:
        <dd><input type=password size=30 name=pass>
	<dd><input type=submit value={{ gettext('Ir') }}>
      </dl>
</form>
{% endblock body %}
