{% extends "menu_url.html" %}
{% block body %}
<table>
	<tr><th>{{ gettext('Corta') }}</th><th>{{ gettext('Expandida') }}</th></tr>
{% for (c,l) in lista %}
<tr><td>
            <a href='/{{ c }}'>{{c}}</a>
    </td>
    <td>
	    <a href='{{ l }}'>{{l}}</a>&nbsp;
	    <a href='{{ url_for('inapropiada',url=c) }}'>{{ gettext('Marcar') }}</a>
	    <a href='{{ url_for('limpiar',url=c) }}'>{{ gettext('Limpiar') }}</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock body %}
