<html>
<head>
<link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='jquery.autocomplete.css')}}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.autocomplete.js"></script>
<script type="text/javascript">
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	function reload_tags()
	{
		$("#tagsearch").val(""); //limpiamos el buscador
		$("#tags").text(""); //limpiamos la localizacion donde cargaremos los tags
		$.getJSON($SCRIPT_ROOT + '/_gettags/{{shurl}}',{},function (data) {
			$("#tags").text(data.tags);
			});
	}
	$(document).ready(function() {
			reload_tags();
			$('#tagsearch').keyup(function(e) {
				if(!e) e = window.event;
				if((e.keyCode == 13)||(e.keyCode == 32)) {
					//$('#tags').load('{{ url_for("set_tags_url",url=shurl) }}', {}, reload_tags());
				$.ajax({ url : "{{ url_for('set_tags_url',url=shurl) }}",
					 data : "tags="+$("#tagsearch").val(),
					 success : reload_tags()
					});
				}
				}
				)});

	
	$(function()
	{
	$('#tagsearch').autocomplete('{{ url_for('buscar_tags') }}');
	});
</script>
</head>
<body><div class="Minimenu">
    <ul>
	<li><big><big><big>
			<a href="{{ url_for('indice') }}" title="MisUrl!" target="_top"><img src="{{ url_for('static',filename='logo.png') }}"></img></a><b>{{shurl}}</b></big></big></big>
	</li>
	<li>Tags:<span id="tags"></span></li>
        {% if session.get('autenticado') %}
        <li><input type="text" id="tagsearch"/></li>
	<li> <a href='{{ url_for('reportar',url=c) }}'><img src="{{ url_for('static', filename='report.gif') }}" title="{{ gettext('Reportar como inapropiada') }}"></img></a> </li>
	{% endif %}
	<li> <a href="{{ url }}" title="{{ gettext('Cerrar') }}" target="_top">[x]</a></li>
{% include 'paypal.html' %}
    </ul>
</div>
</body>
</html>
